.grid {
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "hd"
    "sd"
    "main"
    "ft";
  align-items: center;
}
.header {
  grid-area: hd;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin: 1.125rem;
  border: 1px solid #ebd7bc;
  background-color: #ebd7bc;
  border-radius: 0.5rem;
}
.footer {
  grid-area: ft;
}
.header .nav-list {
  grid-area: sd;
  font-size: 1.5rem;
  padding: 1.125rem;
  line-height: 1.125;
}

.header .nav-list .nav-list-links ul {
  background-color: white;
  display:flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 0.5rem;
}

.header .nav-list .nav-list-links ul li {
  margin: 0;
  padding: 1.125rem;
}

.header .nav-list .nav-list-links ul li a {
  color: black;
}

.nav-list ul li a:hover {
  opacity: 0.7;
  line-height: 1.1;
  font-size: 1.8rem;
  transition: all 150ms ease-in-out;
}

#sec1 {
  grid-area: main;
  display:flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 1.125rem 1.125rem;
  gap: 1rem;
  flex-direction: column;
}

#sec1 .intro {
  width: 100%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #e5eeed;
  border-radius: 0.5rem;
}

#sec1 .intro h2 {
  margin: 1.125rem 1.5rem 0;
  text-transform: capitalize;
}

#sec1 .intro p {
  margin: 0 1.125rem 1.125rem;
  padding: 0 1.125rem 1.125rem;
  word-break: break-all;
  width: 90%;
  font-size: large;
  font-style: italic;
}

#sec1 .article1, #sec1 .article2 {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  background-color: #e5eeed;
  padding: 1.125rem;
  border-radius: 0.5rem;
  width: 82%;
}

#sec1 .article1 .card, #sec1 .article2 .card {
  background-color: #d1d1d1;
  border-radius: 0.5rem;
  flex-basis: 25%;
  min-width: 10rem;
  min-height: 15rem;
}

#sec1 .article1 .card .card-content, #sec1 .article2 .card .card-content{
  padding: 1rem 0.75rem;
}
#sec1 .article1 .card .card-title, #sec1 .article2 .card .card-title {
  margin-bottom: 1rem;
}
#sec1 .article1 .card .card-description, #sec1 .article2 .card .card-description {
  font: menu;
  font-size: 0.75rem;
  line-height: 1.7;
}

.footer {
  background-color: #606c76;
  color: white;
  height: 4.1875rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.125rem;
}

.footer .social .icon-link {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.social .icon-link:hover .fa {
  line-height: 25px;
}

@media (min-width: 900px) {
  #sec1 .intro p {
    font-size: small;
    width: 30%;
  }

  #sec1 .article1, #sec1 .article2{
    width:97%;
  }
}
