@import "reset.css";
@import "buttons.css";
@import "social-icons.css";

ul li a {
  color: #9b4dca;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.container {
  background-color: white;
  border-radius: 0.5rem;
  /* margin: 1.125rem 2.5rem; */
}

.header {
  font-size: 3rem;
  padding: 1.125rem;
  border-radius: 0.5rem;
}
